<footer class="footer">
    &copy; TFM Mónica Zamorano Sardón
    <!--<div class="text-right">
        <a mat-icon-25 href="https://www.Facebook.com" target="_blank">
          <i href="#" class="fa fa-brands fa-square-facebook">  </i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i href="#" class="fa fa-brands fa-instagram">  </i>
        </a>
        <a href="https://www.pinterest.es" target="_blank">
          <i href="#" class="fa fa-brands fa-pinterest">  </i>
        </a>      
      </div>-->
</footer>