<app-header (click)="drawer.toggle()"></app-header>
<mat-drawer-container class="container" hasBackdrop="false">
  <mat-drawer #drawer class="drawer" mode="side">
    <div class="sidenav-content">  
        <div class="drawerButton">
          <button mat-stroked-button (click)="drawer.toggle()" 
          routerLinkActive="mat-accent" [routerLink]="['/']" color="warn"> Inicio  </button>
    
          <button mat-stroked-button (click)="drawer.toggle()"
          routerLinkActive="mat-accent" [routerLink]="['web/eventos']" color="warn"> Eventos  </button>
       
          <button mat-stroked-button (click)="drawer.toggle()"
          routerLinkActive="mat-accent" [routerLink]="['web/talleres']" color="warn"> Talleres  </button>
        </div>
    </div>
    </mat-drawer>  
  <mat-drawer-content>
        <router-outlet></router-outlet>
  </mat-drawer-content>
   
  
</mat-drawer-container>
