.drawer {
    width: 150px;
    height: 100%;   
}
.container{
    height: 80%;
}
.sidenav-content {
    background-color: rgb(209, 208, 206);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

