<div class="content">
    <div class="container">
        <div class="muro1">
            <picture>
              <source srcset="assets/images/dibujo.png?as=webp&width=250" type="image/webp" />
              <img src="assets/images/logo.png?width=350" alt="Con Trazo" class="dib" />
            </picture>
            <div class="muro2">
                <h1>ACADEMIA DE DIBUJO</h1>
                <H2>CON TRAZO</H2>
                <p>"El arte es la expresión mas pura de la mente humana." - JONH LOCKE.</p>
            </div>
        </div>
    </div>
</div>