<div class="content">
    

    <div class="muro1">
            <picture>
                <source srcset="assets/images/dibujando.jpeg?as=webp&width=250" type="image/webp" />
                <img src="assets/images/logo.png?width=350" alt="Con Trazo" class="dib" />
              </picture>
    
    <div class="muro2">
        <h1>ACTIVIDADES VERANIEGAS</h1>
            <p>En este mes de junio, lunes y miércoles por la tarde dibujaremos los alrededores.</p>
            <p>Trabajaremos la profundidad del mar</p>
            <p>No dudes en preguntar</p> 
    
    </div>
    </div>
</div>